.header {
    color: white;
    width: 100%;
    text-align: center;
    background-color: aliceblue;
    position: center;
    padding: 30px;

}
.tb {
    color: white;
    background-color: #99aeff;
    padding: 10px;
    border-radius: 15px;
}
.descript {
    width: 100%;
    text-align: center;
    color: #addcff;
    background-color: aliceblue;
    position: relative;
    padding: 10px;
}
.navi {
    background-color: aliceblue;
    position: relative;
    width: 100%;
    display: block;
    padding: 15px;
    text-align: center;
}
a.menuitem {
    width: 100%;
    background-color: #99aeff;
    padding: 15px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.foot {
    color: #1d5698;
    background-color: #99aeff;
    width: 100%;
    padding: 15px;
    text-align: center;
    border-top: 1px dashed black;
}

a.gitLink{
    color: white;
    text-decoration: orange;
}
.regForm {
    width: 100%;
    position: center;
    background-color: aliceblue;
    text-align: center;
    padding: 15px;
}

.postForm {
    padding: 15px;
    text-align: center;
    background-color: aliceblue;
}
.post {
    width: 60%;
    height: 200px;
    background-color: aliceblue;
    display: block;
    margin: auto;
    color: #1d5698;
    border: 1px solid #99aeff;
}
.postdate {
    position: relative;
    text-align: end;
    display: block;
    margin: auto;
    width: 60%;
    padding: 5px;
    background-color: honeydew;
    color: #1d5698;
    border: 1px solid #99aeff;
}
